<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>homepage</title>
</head>
<body class=" lg:px-12 px-9 bg-[#f7f7f8]">
    <div class=" flex flex-row items-center justify-end bg-white fixed inset-x-0 top-0 h-[10%] shadow-lg border-b-2 border-slate-700/18 gap-x-5 lg:px-12 px-12">
        <img src="/images/logo.png" width="110" class="mr-auto h-full" />
        <a class="text-lg font-medium text-slate-600 p-2 hover:bg-slate-700/10 hover:rounded-lg" href="#">
            My reservations
        </a>
        <a class="text-lg font-medium text-slate-600 bg-slate-700/10 p-2 rounded-lg" href="#">
            Meeting rooms
        </a>
        <a class="text-lg font-medium text-slate-600 border-l-2 border-slate-700/20 pl-[1.25rem] hover:text-red-600 " href="#">
            Logout
        </a>
    </div>
        <div class="flex flex-col items-center h-full mt-[5%]">
            <% for (var i = 0; i<10; i++) { %>
                <div class=" flex flex-row w-full h-[200px] my-5 shadow-lg border-1 border-slate-700">
                    <div class="bg-yellow-500 w-[45%] h-full"> </div>
                    <div class="flex flex-col w-full h-full px-2 bg-white">
                        <div class="text-xl font-semibold h-[15%] truncate ">
                            Title
                        </div>
                        <div class="text-ellipsis overflow-hidden h-auto">
                            Capacité
                        </div>
                    </div>
                </div>          
            <% } %>
        </div>
   
</body>
</html>